vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-OD4M1AO\\vince
vti_modifiedby:SR|DESKTOP-OD4M1AO\\vince
vti_timelastmodified:TR|27 Mar 2019 13:33:34 -0000
vti_timecreated:TR|17 Mar 2019 20:56:19 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Assignment04/Assignment04.html
vti_nexttolasttimemodified:TW|18 Mar 2019 22:23:17 -0000
vti_cacheddtm:TX|27 Mar 2019 13:33:34 -0000
vti_filesize:IR|1382
vti_cachedlinkinfo:VX|S|image/left-side.jpg
vti_cachedsvcrellinks:VX|FSUS|Assignment04/image/left-side.jpg
